# Visual Studio build files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.vcproj
*.vcxproj.*
*.vcxproj.*.user
*.vspscc
*.vssscc
*.publishsettings
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.swp
*.user
*.suo
*.tlh
*.bak
*.[Cc]ache
*.DS_Store
x64
build
.venv
