name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: release
    permissions:
      id-token: write
    steps:
    - name: Check out repo
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        # We must explicitly install the requirements so that we can force
        # installation of the local wheel below in case the version conflicts
        # with published wheels (typically only possible during testing).
        python -m pip install \
        -r .github/workflows/environments/requirements/requirements-build.txt \
        -r .github/workflows/environments/requirements/requirements.txt \
        -r .github/workflows/environments/requirements/requirements-testing.txt

    - name: Install pypa/build
      run:
        python -m pip install build
    - name: Build a binary wheel and a source tarball
      run:
        python -m build --outdir dist/ .
    - name: Install wheel
      run:
        python -m pip install dupin --progress-bar off --no-index -f dist/
    - name: Test with pytest
      run:
        python -m pytest -v tests/
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
