name: Publish packages

on:
  workflow_call:
    inputs:
      upload_to_test:
        required: true
        type: boolean
      branch:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-24.04
    environment: release
    permissions:
      id-token: write
    steps:
    - name: Check out repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        ref: ${{ inputs.branch }}
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        # We must explicitly install the requirements so that we can force
        # installation of the local wheel below in case the version conflicts
        # with published wheels (typically only possible during testing).
        python -m pip install \
        -r .github/workflows/environments/requirements/requirements-build.txt \
        -r .github/workflows/environments/requirements/requirements.txt \
        -r .github/workflows/environments/requirements/requirements-testing.txt

    - name: Install pypa/build
      run:
        python -m pip install build
    - name: Build a binary wheel and a source tarball
      run:
        python -m build --outdir dist/ .
    - name: Install wheel
      run:
        python -m pip install dupin --progress-bar off --no-index -f dist/
    - name: Test with pytest
      run:
        python -m pytest -v tests/

    - name: Publish package to TestPyPI
      if: ${{ inputs.upload_to_test }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/

    - name: Publish package to PyPI
      if: ${{ !inputs.upload_to_test }}
      uses: pypa/gh-action-pypi-publish@release/v1
