name: Run Unit Tests

on:
  # trigger on pull requests
  pull_request:

  # trigger on all commits to main
  push:
    branches:
      - 'main'

  # trigger on request
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  test:
    name: test (${{ matrix.os }}, ${{ matrix.python }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-24.04]
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
        include:
          # Other tests
          - os: 'macos-15'
            python: '3.9'
          - os: 'macos-15'
            python: '3.13'
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: "recursive"
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python }}
    - name: Set up Python environment
      uses: glotzerlab/workflows/setup-uv@2245be9e78600bf7846aaf9555da322446f46110 # 0.11.0
      with:
        lockfile: ".github/workflows/environments/requirements${{ matrix.python }}.txt"
    - name: Install package
      run: |
        python --version
        uv pip install . --no-build-isolation --no-deps --system -v
    - name: Test with pytest
      run: |
        python -m pytest -v

  # This job is used to provide a single requirement for branch merge conditions.
  tests_complete:
    name: Unit test
    if: always()
    needs: [test]
    runs-on: ubuntu-24.04

    steps:
    - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
    - name: Done
      run: exit 0
